In [1]:
import pandas as pd

In [2]:
!pip install geopandas

Requirement already satisfied: geopandas in c:\users\kozy-korpesh\anaconda3\lib\site-packages (0.12.1)
Requirement already satisfied: pyproj>=2.6.1.post1 in c:\users\kozy-korpesh\anaconda3\lib\site-packages (from geopandas) (3.4.0)
Requirement already satisfied: packaging in c:\users\kozy-korpesh\anaconda3\lib\site-packages (from geopandas) (20.9)
Requirement already satisfied: fiona>=1.8 in c:\users\kozy-korpesh\anaconda3\lib\site-packages (from geopandas) (1.8.22)
Requirement already satisfied: shapely>=1.7 in c:\users\kozy-korpesh\anaconda3\lib\site-packages (from geopandas) (1.8.5.post1)
Requirement already satisfied: pandas>=1.0.0 in c:\users\kozy-korpesh\anaconda3\lib\site-packages (from geopandas) (1.2.4)
Requirement already satisfied: click-plugins>=1.0 in c:\users\kozy-korpesh\anaconda3\lib\site-packages (from fiona>=1.8->geopandas) (1.1.1)
Requirement already satisfied: attrs>=17 in c:\users\kozy-korpesh\anaconda3\lib\site-packages (from fiona>=1.8->geopandas) (20.3.0)
Requirement already satisfied: click>=4.0 in c:\users\kozy-korpesh\anaconda3\lib\site-packages (from fiona>=1.8->geopandas) (7.1.2)
Requirement already satisfied: certifi in c:\users\kozy-korpesh\anaconda3\lib\site-packages (from fiona>=1.8->geopandas) (2020.12.5)
Requirement already satisfied: setuptools in c:\users\kozy-korpesh\anaconda3\lib\site-packages (from fiona>=1.8->geopandas) (52.0.0.post20210125)
Requirement already satisfied: cligj>=0.5 in c:\users\kozy-korpesh\anaconda3\lib\site-packages (from fiona>=1.8->geopandas) (0.7.2)
Requirement already satisfied: six>=1.7 in c:\users\kozy-korpesh\anaconda3\lib\site-packages (from fiona>=1.8->geopandas) (1.15.0)
Requirement already satisfied: munch in c:\users\kozy-korpesh\anaconda3\lib\site-packages (from fiona>=1.8->geopandas) (2.5.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\kozy-korpesh\anaconda3\lib\site-packages (from pandas>=1.0.0->geopandas) (2021.1)
Requirement already satisfied: numpy>=1.16.5 in c:\users\kozy-korpesh\anaconda3\lib\site-packages (from pandas>=1.0.0->geopandas) (1.20.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\kozy-korpesh\anaconda3\lib\site-packages (from pandas>=1.0.0->geopandas) (2.8.1)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\kozy-korpesh\anaconda3\lib\site-packages (from packaging->geopandas) (2.4.7)

In [3]:
import geopandas as gp
import pandas as pd

In [4]:
data = gp.read_file("../data/geo_data_trees.geojson")

In [5]:
data.head()

,Tree ID,Name,DBH (cm),Replacement Value (eur),Carbon Storage (kg),Carbon Storage (eur),Gross Carbon Sequestration (kg/yr),Gross Carbon Sequestration (eur/yr),Avoided Runoff (mcube/yr),Avoided Runoff (eur/yr),...,Oxygen Production (kg/yr),Height (m),Crown Height (m),Crown Width (m),Canopy Cover (m2),Leaf Area (m2),Leaf Biomass (kg),Latitude,Longitude,geometry
0,1.0,Acer pseudoplatanus,8,179.43,12,1.92,1.1,0.17,0,0.01,...,2.8,3.5,1,1.5,1.8,3.5,0.2,46.051599,11.072014,POINT (11.07201 46.05160)
1,2.0,Acer pseudoplatanus,8,179.43,12.9,2.07,1.1,0.18,0,0.01,...,3,5,1.5,1.5,1.8,4.2,0.3,46.051541,11.072108,POINT (11.07211 46.05154)
2,3.0,Acer pseudoplatanus,9,227.09,16.2,2.61,1.3,0.2,0,0.01,...,3.4,4.5,1.3,1.5,1.8,4,0.3,46.051668,11.071959,POINT (11.07196 46.05167)
3,4.0,Acer pseudoplatanus,11,482.46,25.7,4.13,1.6,0.26,0,0.02,...,4.3,5,1.5,2.5,4.9,7.1,0.5,46.063778,11.150170,POINT (11.15017 46.06378)
4,7.0,Cupressus,25,1110.29,448.2,72.02,11.1,1.78,0,0.02,...,29.5,8,2.4,1.5,1.8,6.6,1.5,46.052305,11.071550,POINT (11.07155 46.05230)

In [6]:
data

,Tree ID,Name,DBH (cm),Replacement Value (eur),Carbon Storage (kg),Carbon Storage (eur),Gross Carbon Sequestration (kg/yr),Gross Carbon Sequestration (eur/yr),Avoided Runoff (mcube/yr),Avoided Runoff (eur/yr),...,Oxygen Production (kg/yr),Height (m),Crown Height (m),Crown Width (m),Canopy Cover (m2),Leaf Area (m2),Leaf Biomass (kg),Latitude,Longitude,geometry
0,1.0,Acer pseudoplatanus,8,179.43,12,1.92,1.1,0.17,0,0.01,...,2.8,3.5,1,1.5,1.8,3.5,0.2,46.051599,11.072014,POINT (11.07201 46.05160)
1,2.0,Acer pseudoplatanus,8,179.43,12.9,2.07,1.1,0.18,0,0.01,...,3,5,1.5,1.5,1.8,4.2,0.3,46.051541,11.072108,POINT (11.07211 46.05154)
2,3.0,Acer pseudoplatanus,9,227.09,16.2,2.61,1.3,0.2,0,0.01,...,3.4,4.5,1.3,1.5,1.8,4,0.3,46.051668,11.071959,POINT (11.07196 46.05167)
3,4.0,Acer pseudoplatanus,11,482.46,25.7,4.13,1.6,0.26,0,0.02,...,4.3,5,1.5,2.5,4.9,7.1,0.5,46.063778,11.150170,POINT (11.15017 46.06378)
4,7.0,Cupressus,25,1110.29,448.2,72.02,11.1,1.78,0,0.02,...,29.5,8,2.4,1.5,1.8,6.6,1.5,46.052305,11.071550,POINT (11.07155 46.05230)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12508,17664.0,Philadelphus,28.2,1354.8,396.2,63.66,10.7,1.71,0.1,0.13,...,28.4,2.5,0.8,5.3,21.7,36.1,2.7,46.055851,11.129388,POINT (11.12939 46.05585)
12509,17665.0,Forsythia x intermedia,28.2,1354.8,320.9,51.56,10.5,1.68,0.1,0.21,...,27.9,8,2.4,5.3,21.7,59.9,4.6,46.055402,11.129206,POINT (11.12921 46.05540)
12510,17666.0,Aucuba japonica,28.2,1354.8,356.2,57.22,6.3,1.01,0.1,0.14,...,16.7,8,2.4,5.3,21.7,41.3,2.5,46.055867,11.129650,POINT (11.12965 46.05587)
12511,17667.0,Osmanthus fragrans,28.2,1354.8,240.7,38.67,4.3,0.6899999999999999,0.1,0.15,...,11.5,2.5,0.8,5.3,21.7,43.3,3.8,46.053467,11.121152,POINT (11.12115 46.05347)
12512,NaN,Total,None,23086243,5484735,881216,71714,11522,2270,4317,...,191237.8,None,None,None,382146.7,1241575.9,101770.6,NaN,NaN,None

In [7]:
data.value_counts("Name").nlargest(10)

Name
Celtis australis          1028
Aesculus hippocastanum     581
Carpinus betulus           536
Tilia cordata              509
Platanus x hispanica       502
Tilia x europaea           471
Acer campestre             458
Cupressus                  399
Sophora japonica           376
Prunus cerasifera          350
dtype: int64

In [8]:
data.dtypes

Tree ID                                 float64
Name                                     object
DBH (cm)                                 object
Replacement Value (eur)                  object
Carbon Storage (kg)                      object
Carbon Storage (eur)                     object
Gross Carbon Sequestration (kg/yr)       object
Gross Carbon Sequestration (eur/yr)      object
Avoided Runoff (mcube/yr)                object
Avoided Runoff (eur/yr)                  object
Carbon Avoided (kg/yr)                   object
Carbon Avoided (eur/yr)                  object
Pollution Removal (g/yr)                 object
Pollution Removal (eur/yr)               object
Energy Savings (eur/yr)                  object
Total Annual Benefits (eur/yr)           object
Oxygen Production (kg/yr)                object
Height (m)                               object
Crown Height (m)                         object
Crown Width (m)                          object
Canopy Cover (m2)                        object
Leaf Area (m2)                           object
Leaf Biomass (kg)                        object
Latitude                                float64
Longitude                               float64
geometry                               geometry
dtype: object

In [9]:
data["Height (m)"].isnull().sum()

1

In [10]:
data = data[data["Height (m)"].notna()]

In [11]:
data["Height (m)"]

0        3.5
1          5
2        4.5
3          5
4          8
        ...
12507    2.5
12508    2.5
12509      8
12510      8
12511    2.5
Name: Height (m), Length: 12512, dtype: object

In [12]:
data['height'] = data['Height (m)'].astype(float)

C:\Users\Kozy-Korpesh\anaconda3\lib\site-packages\geopandas\geodataframe.py:1443: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)

In [13]:
data['height']

0        3.5
1        5.0
2        4.5
3        5.0
4        8.0
        ...
12507    2.5
12508    2.5
12509    8.0
12510    8.0
12511    2.5
Name: height, Length: 12512, dtype: float64

In [14]:
data_converted = data[['height','Name']].groupby('Name')['height'].apply(list).reset_index(name='height_list')

In [15]:
data.value_counts("Name")

Name
Celtis australis          1028
Aesculus hippocastanum     581
Carpinus betulus           536
Tilia cordata              509
Platanus x hispanica       502
                          ...
Syringa vulgaris             1
Lagerstroemia                1
Catalpa                      1
Prunus amygdalus             1
Cornus nuttallii             1
Length: 224, dtype: int64

In [16]:
# data_converted['count'] = data.value_counts("Name")

In [17]:
data_converted

                     Name                                        height_list
0                   Abies          [7.0, 5.0, 12.0, 9.0, 7.0, 9.0, 9.0, 7.0]
1              Abies alba  [12.2, 12.2, 12.2, 12.2, 14.0, 10.0, 10.0, 15....
2      Abies nordmanniana                                              [8.0]
3           Abies pinsapo                                             [14.0]
4                  Acacia                                             [14.0]
..                    ...                                                ...
219              Viburnum                                         [8.0, 8.0]
220    Viburnum sieboldii                                         [8.0, 8.0]
221     Wisteria sinensis                               [0.8, 0.8, 0.8, 3.0]
222    Zanthoxylum flavum                                              [8.0]
223  Zelkova carpinifolia                          [4.0, 4.0, 4.0, 3.5, 4.0]

[224 rows x 2 columns]

In [18]:
data_converted['len'] = data_converted['height_list'].str.len()

In [19]:
data_converted

,Name,height_list,len
0,Abies,"[7.0, 5.0, 12.0, 9.0, 7.0, 9.0, 9.0, 7.0]",8
1,Abies alba,"[12.2, 12.2, 12.2, 12.2, 14.0, 10.0, 10.0, 15....",31
2,Abies nordmanniana,[8.0],1
3,Abies pinsapo,[14.0],1
4,Acacia,[14.0],1
...,...,...,...
219,Viburnum,"[8.0, 8.0]",2
220,Viburnum sieboldii,"[8.0, 8.0]",2
221,Wisteria sinensis,"[0.8, 0.8, 0.8, 3.0]",4
222,Zanthoxylum flavum,[8.0],1
223,Zelkova carpinifolia,"[4.0, 4.0, 4.0, 3.5, 4.0]",5

In [20]:
data_converted = data_converted.sort_values(by=['len'], ascending=False)

In [21]:
data_converted

,Name,height_list,len
44,Celtis australis,"[6.0, 6.0, 6.0, 5.5, 6.5, 4.5, 5.0, 4.5, 4.5, ...",1028
20,Aesculus hippocastanum,"[15.0, 15.0, 14.0, 16.0, 6.0, 6.0, 14.0, 12.0,...",581
37,Carpinus betulus,"[4.5, 4.0, 5.0, 4.5, 4.0, 4.0, 4.5, 12.0, 12.0...",536
207,Tilia cordata,"[4.5, 5.0, 5.0, 4.0, 6.0, 7.0, 7.0, 7.0, 4.5, ...",509
150,Platanus x hispanica,"[15.0, 11.0, 7.0, 6.0, 7.0, 8.0, 6.0, 6.0, 5.0...",502
...,...,...,...
198,Syringa vulgaris,[8.0],1
96,Lagerstroemia,[20.0],1
38,Catalpa,[11.0],1
156,Prunus amygdalus,[3.0],1
51,Cornus nuttallii,[3.5],1

In [22]:
data_converted = data_converted.iloc[:10]

In [23]:
data_converted

,Name,height_list,len
44,Celtis australis,"[6.0, 6.0, 6.0, 5.5, 6.5, 4.5, 5.0, 4.5, 4.5, ...",1028
20,Aesculus hippocastanum,"[15.0, 15.0, 14.0, 16.0, 6.0, 6.0, 14.0, 12.0,...",581
37,Carpinus betulus,"[4.5, 4.0, 5.0, 4.5, 4.0, 4.0, 4.5, 12.0, 12.0...",536
207,Tilia cordata,"[4.5, 5.0, 5.0, 4.0, 6.0, 7.0, 7.0, 7.0, 4.5, ...",509
150,Platanus x hispanica,"[15.0, 11.0, 7.0, 6.0, 7.0, 8.0, 6.0, 6.0, 5.0...",502
211,Tilia x europaea,"[5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 6.0, 5.0, 8.0, ...",471
7,Acer campestre,"[6.0, 8.0, 4.0, 5.0, 11.0, 8.0, 5.0, 5.0, 5.0,...",458
59,Cupressus,"[8.0, 10.0, 10.0, 10.0, 14.0, 14.0, 14.0, 14.0...",399
191,Sophora japonica,"[5.0, 5.0, 5.0, 6.0, 5.0, 4.0, 5.0, 5.0, 5.0, ...",376
158,Prunus cerasifera,"[10.0, 10.0, 8.0, 8.0, 6.0, 5.0, 6.0, 3.5, 5.0...",350

In [24]:
data_converted.to_csv (r'C:\Users\Kozy-Korpesh\Desktop\dv\Data-Visualization\data\export_data_box_plot.csv', index = False, header=True)