In [1]:
# !pip install geopandas

In [2]:
# !pip install matplotlib

In [3]:
# %pip install pygeos

In [4]:
# %pip install rtree

In [5]:
# All the import Libraries
import pandas as pd
import geopandas as gp
from matplotlib.patches import Polygon
import matplotlib.pyplot as plt

In [6]:
# read files
data = gp.read_file("../data/geo_data_trees.geojson")
polydata = gp.read_file("../data/circoscrizioni.json")

In [7]:
data

,Tree ID,Name,DBH (cm),Replacement Value (eur),Carbon Storage (kg),Carbon Storage (eur),Gross Carbon Sequestration (kg/yr),Gross Carbon Sequestration (eur/yr),Avoided Runoff (mcube/yr),Avoided Runoff (eur/yr),...,Oxygen Production (kg/yr),Height (m),Crown Height (m),Crown Width (m),Canopy Cover (m2),Leaf Area (m2),Leaf Biomass (kg),Latitude,Longitude,geometry
0,1.0,Acer pseudoplatanus,8,179.43,12,1.92,1.1,0.17,0,0.01,...,2.8,3.5,1,1.5,1.8,3.5,0.2,46.051599,11.072014,POINT (11.07201 46.05160)
1,2.0,Acer pseudoplatanus,8,179.43,12.9,2.07,1.1,0.18,0,0.01,...,3,5,1.5,1.5,1.8,4.2,0.3,46.051541,11.072108,POINT (11.07211 46.05154)
2,3.0,Acer pseudoplatanus,9,227.09,16.2,2.61,1.3,0.2,0,0.01,...,3.4,4.5,1.3,1.5,1.8,4,0.3,46.051668,11.071959,POINT (11.07196 46.05167)
3,4.0,Acer pseudoplatanus,11,482.46,25.7,4.13,1.6,0.26,0,0.02,...,4.3,5,1.5,2.5,4.9,7.1,0.5,46.063778,11.150170,POINT (11.15017 46.06378)
4,7.0,Cupressus,25,1110.29,448.2,72.02,11.1,1.78,0,0.02,...,29.5,8,2.4,1.5,1.8,6.6,1.5,46.052305,11.071550,POINT (11.07155 46.05230)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12508,17664.0,Philadelphus,28.2,1354.8,396.2,63.66,10.7,1.71,0.1,0.13,...,28.4,2.5,0.8,5.3,21.7,36.1,2.7,46.055851,11.129388,POINT (11.12939 46.05585)
12509,17665.0,Forsythia x intermedia,28.2,1354.8,320.9,51.56,10.5,1.68,0.1,0.21,...,27.9,8,2.4,5.3,21.7,59.9,4.6,46.055402,11.129206,POINT (11.12921 46.05540)
12510,17666.0,Aucuba japonica,28.2,1354.8,356.2,57.22,6.3,1.01,0.1,0.14,...,16.7,8,2.4,5.3,21.7,41.3,2.5,46.055867,11.129650,POINT (11.12965 46.05587)
12511,17667.0,Osmanthus fragrans,28.2,1354.8,240.7,38.67,4.3,0.6899999999999999,0.1,0.15,...,11.5,2.5,0.8,5.3,21.7,43.3,3.8,46.053467,11.121152,POINT (11.12115 46.05347)
12512,NaN,Total,None,23086243,5484735,881216,71714,11522,2270,4317,...,191237.8,None,None,None,382146.7,1241575.9,101770.6,NaN,NaN,None

In [8]:
data.columns

Index(['Tree ID', 'Name', 'DBH (cm)', 'Replacement Value (eur)',
       'Carbon Storage (kg)', 'Carbon Storage (eur)',
       'Gross Carbon Sequestration (kg/yr)',
       'Gross Carbon Sequestration (eur/yr)', 'Avoided Runoff (mcube/yr)',
       'Avoided Runoff (eur/yr)', 'Carbon Avoided (kg/yr)',
       'Carbon Avoided (eur/yr)', 'Pollution Removal (g/yr)',
       'Pollution Removal (eur/yr)', 'Energy Savings (eur/yr)',
       'Total Annual Benefits (eur/yr)', 'Oxygen Production (kg/yr)',
       'Height (m)', 'Crown Height (m)', 'Crown Width (m)',
       'Canopy Cover (m2)', 'Leaf Area (m2)', 'Leaf Biomass (kg)', 'Latitude',
       'Longitude', 'geometry'],
      dtype='object')

In [9]:
#These column shows that there is some values missing in one row
# Tree ID, DBH (cm), Height (m), Crown Height (m), 
# Crown Width (m), Latitude, Longitude, 
# geometry

In [10]:
data.tail()

,Tree ID,Name,DBH (cm),Replacement Value (eur),Carbon Storage (kg),Carbon Storage (eur),Gross Carbon Sequestration (kg/yr),Gross Carbon Sequestration (eur/yr),Avoided Runoff (mcube/yr),Avoided Runoff (eur/yr),...,Oxygen Production (kg/yr),Height (m),Crown Height (m),Crown Width (m),Canopy Cover (m2),Leaf Area (m2),Leaf Biomass (kg),Latitude,Longitude,geometry
12508,17664.0,Philadelphus,28.2,1354.8,396.2,63.66,10.7,1.71,0.1,0.13,...,28.4,2.5,0.8,5.3,21.7,36.1,2.7,46.055851,11.129388,POINT (11.12939 46.05585)
12509,17665.0,Forsythia x intermedia,28.2,1354.8,320.9,51.56,10.5,1.68,0.1,0.21,...,27.9,8,2.4,5.3,21.7,59.9,4.6,46.055402,11.129206,POINT (11.12921 46.05540)
12510,17666.0,Aucuba japonica,28.2,1354.8,356.2,57.22,6.3,1.01,0.1,0.14,...,16.7,8,2.4,5.3,21.7,41.3,2.5,46.055867,11.129650,POINT (11.12965 46.05587)
12511,17667.0,Osmanthus fragrans,28.2,1354.8,240.7,38.67,4.3,0.6899999999999999,0.1,0.15,...,11.5,2.5,0.8,5.3,21.7,43.3,3.8,46.053467,11.121152,POINT (11.12115 46.05347)
12512,NaN,Total,None,23086243,5484735,881216,71714,11522,2270,4317,...,191237.8,None,None,None,382146.7,1241575.9,101770.6,NaN,NaN,None

In [11]:
# deleting the last row
data = data.drop(data.index[-1])

In [12]:
# the last row is the total row for all the data so should be avoided 
# when including in the data values.
data.tail()

,Tree ID,Name,DBH (cm),Replacement Value (eur),Carbon Storage (kg),Carbon Storage (eur),Gross Carbon Sequestration (kg/yr),Gross Carbon Sequestration (eur/yr),Avoided Runoff (mcube/yr),Avoided Runoff (eur/yr),...,Oxygen Production (kg/yr),Height (m),Crown Height (m),Crown Width (m),Canopy Cover (m2),Leaf Area (m2),Leaf Biomass (kg),Latitude,Longitude,geometry
12507,17663.0,Philadelphus,28.2,1354.8,396.2,63.66,10.7,1.71,0.1,0.15,...,28.4,2.5,0.8,5.3,21.7,43.6,3.3,46.055912,11.129441,POINT (11.12944 46.05591)
12508,17664.0,Philadelphus,28.2,1354.8,396.2,63.66,10.7,1.71,0.1,0.13,...,28.4,2.5,0.8,5.3,21.7,36.1,2.7,46.055851,11.129388,POINT (11.12939 46.05585)
12509,17665.0,Forsythia x intermedia,28.2,1354.8,320.9,51.56,10.5,1.68,0.1,0.21,...,27.9,8,2.4,5.3,21.7,59.9,4.6,46.055402,11.129206,POINT (11.12921 46.05540)
12510,17666.0,Aucuba japonica,28.2,1354.8,356.2,57.22,6.3,1.01,0.1,0.14,...,16.7,8,2.4,5.3,21.7,41.3,2.5,46.055867,11.129650,POINT (11.12965 46.05587)
12511,17667.0,Osmanthus fragrans,28.2,1354.8,240.7,38.67,4.3,0.6899999999999999,0.1,0.15,...,11.5,2.5,0.8,5.3,21.7,43.3,3.8,46.053467,11.121152,POINT (11.12115 46.05347)

In [13]:
# 12513 rows × 26 columns
# Basic information about all the columns of the data
data.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 12512 entries, 0 to 12511
Data columns (total 26 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Tree ID                              12512 non-null  float64
 1   Name                                 12512 non-null  object
 2   DBH (cm)                             12512 non-null  object
 3   Replacement Value (eur)              12512 non-null  object
 4   Carbon Storage (kg)                  12512 non-null  object
 5   Carbon Storage (eur)                 12512 non-null  object
 6   Gross Carbon Sequestration (kg/yr)   12512 non-null  object
 7   Gross Carbon Sequestration (eur/yr)  12512 non-null  object
 8   Avoided Runoff (mcube/yr)            12512 non-null  object
 9   Avoided Runoff (eur/yr)              12512 non-null  object
 10  Carbon Avoided (kg/yr)               0 non-null      object
 11  Carbon Avoided (eur/yr)              0 non-null      object
 12  Pollution Removal (g/yr)             12512 non-null  object
 13  Pollution Removal (eur/yr)           12512 non-null  object
 14  Energy Savings (eur/yr)              0 non-null      object
 15  Total Annual Benefits (eur/yr)       12512 non-null  object
 16  Oxygen Production (kg/yr)            12512 non-null  object
 17  Height (m)                           12512 non-null  object
 18  Crown Height (m)                     12512 non-null  object
 19  Crown Width (m)                      12512 non-null  object
 20  Canopy Cover (m2)                    12512 non-null  object
 21  Leaf Area (m2)                       12512 non-null  object
 22  Leaf Biomass (kg)                    12512 non-null  object
 23  Latitude                             12512 non-null  float64
 24  Longitude                            12512 non-null  float64
 25  geometry                             12512 non-null  geometry
dtypes: float64(3), geometry(1), object(22)
memory usage: 2.6+ MB

In [14]:
data["count"]=1

In [15]:
top_tree_type = data[['Name', 'count']]
top_tree_type

                         Name  count
0         Acer pseudoplatanus      1
1         Acer pseudoplatanus      1
2         Acer pseudoplatanus      1
3         Acer pseudoplatanus      1
4                   Cupressus      1
...                       ...    ...
12507            Philadelphus      1
12508            Philadelphus      1
12509  Forsythia x intermedia      1
12510         Aucuba japonica      1
12511      Osmanthus fragrans      1

[12512 rows x 2 columns]

In [16]:
top_tree = top_tree_type.groupby("Name").count().reset_index()
# top_tree_type.sort_values(by="count", ascending=False)[:6]
top_tree = top_tree.sort_values(by='count', ascending=False) 
Top_10_Trees = list(top_tree[:10].Name)
Top_10_Trees

['Celtis australis',
 'Aesculus hippocastanum',
 'Carpinus betulus',
 'Tilia cordata',
 'Platanus x hispanica',
 'Tilia x europaea',
 'Acer campestre',
 'Cupressus',
 'Sophora japonica',
 'Prunus cerasifera']

In [17]:
data["Carbon Storage (kg)"] = data["Carbon Storage (kg)"].astype(float)

In [18]:
data["Carbon Storage (kg)"]

0         12.0
1         12.9
2         16.2
3         25.7
4        448.2
         ...
12507    396.2
12508    396.2
12509    320.9
12510    356.2
12511    240.7
Name: Carbon Storage (kg), Length: 12512, dtype: float64

In [19]:
# For Getting the values of Top 6 Tree types
df = data[["Name", "Carbon Storage (kg)" ]]
# df.groupby("Name").count().sort_values(by="Carbon Storage (kg)", ascending=False)[:10]
df

                         Name  Carbon Storage (kg)
0         Acer pseudoplatanus                 12.0
1         Acer pseudoplatanus                 12.9
2         Acer pseudoplatanus                 16.2
3         Acer pseudoplatanus                 25.7
4                   Cupressus                448.2
...                       ...                  ...
12507            Philadelphus                396.2
12508            Philadelphus                396.2
12509  Forsythia x intermedia                320.9
12510         Aucuba japonica                356.2
12511      Osmanthus fragrans                240.7

[12512 rows x 2 columns]

In [20]:
# Top 10 tree types which has the highest carbon storage 
top_10_carbon_storage_trees = df.groupby("Name").sum().sort_values(by="Carbon Storage (kg)", ascending=False)[:10].reset_index()

top_10_carbon_storage_trees

                                Name  Carbon Storage (kg)
0               Platanus x hispanica            1083313.4
1             Aesculus hippocastanum             438610.9
2                   Tilia x europaea             406394.2
3                     Cedrus deodara             365982.4
4                      Populus nigra             225146.8
5  Platanus x acerifolia 'Bloodgood'             201148.7
6                          Cupressus             198211.0
7                      Cedrus libani             197242.4
8                        Ulmus minor             116934.1
9                              Ulmus             108160.5

In [21]:
# return values filtered based on Top 10 tree types fron the dataframe
carbon_storage_for_top_10 = df[df["Name"].isin(Top_10_Trees)]

In [22]:
# sum of carbon storage of top 10 tree type 
sum_co2storage_for_top_10 = carbon_storage_for_top_10.groupby("Name").sum().sort_values(by="Carbon Storage (kg)", ascending=False).reset_index()
sum_co2storage_for_top_10

                     Name  Carbon Storage (kg)
0    Platanus x hispanica            1083313.4
1  Aesculus hippocastanum             438610.9
2        Tilia x europaea             406394.2
3               Cupressus             198211.0
4        Sophora japonica              80562.6
5        Celtis australis              70736.5
6           Tilia cordata              65967.6
7        Carpinus betulus              62980.1
8       Prunus cerasifera              55874.7
9          Acer campestre              36849.8

In [23]:
# for the carbon storage in eur

In [24]:
data["Carbon Storage (eur)"] = data["Carbon Storage (eur)"].astype(float)
# data["Carbon Storage (eur)"]

In [25]:
df2 = data[["Name", "Carbon Storage (eur)" ]]
df2

                         Name  Carbon Storage (eur)
0         Acer pseudoplatanus                  1.92
1         Acer pseudoplatanus                  2.07
2         Acer pseudoplatanus                  2.61
3         Acer pseudoplatanus                  4.13
4                   Cupressus                 72.02
...                       ...                   ...
12507            Philadelphus                 63.66
12508            Philadelphus                 63.66
12509  Forsythia x intermedia                 51.56
12510         Aucuba japonica                 57.22
12511      Osmanthus fragrans                 38.67

[12512 rows x 2 columns]

In [26]:
# top_10_carbon_storage_trees = df.groupby("Name").sum().sort_values(by="Carbon Storage (kg)", ascending=False)[:10].reset_index()
# df2.groupby("Name").count().sort_values(by="Carbon Storage (eur)", ascending=False)

# Top 10 tree types which has the highest carbon storage 
top_10_co2_storage_eur_trees = df2.groupby("Name").sum().sort_values(by="Carbon Storage (eur)", ascending=False)[:10].reset_index()

top_10_co2_storage_eur_trees

                                Name  Carbon Storage (eur)
0               Platanus x hispanica             174052.12
1             Aesculus hippocastanum              70470.24
2                   Tilia x europaea              65294.01
3                     Cedrus deodara              58801.14
4                      Populus nigra              36173.39
5  Platanus x acerifolia 'Bloodgood'              32317.79
6                          Cupressus              31843.40
7                      Cedrus libani              31690.51
8                        Ulmus minor              18787.46
9                              Ulmus              17377.77

In [27]:
# return values filtered based on Top 10 tree types fron the dataframe
co2_storage_eur_for_top_10 = df2[df2["Name"].isin(Top_10_Trees)]
# co2_storage_eur_for_top_10

In [28]:
sum_co2storage_eur_for_top_10 = co2_storage_eur_for_top_10.groupby("Name").sum().sort_values(by="Carbon Storage (eur)", ascending=False).reset_index()
sum_co2storage_eur_for_top_10

                     Name  Carbon Storage (eur)
0    Platanus x hispanica             174052.12
1  Aesculus hippocastanum              70470.24
2        Tilia x europaea              65294.01
3               Cupressus              31843.40
4        Sophora japonica              12944.02
5        Celtis australis              11364.33
6           Tilia cordata              10598.38
7        Carpinus betulus              10119.34
8       Prunus cerasifera               8976.99
9          Acer campestre               5920.57

In [29]:
combined1 = sum_co2storage_for_top_10.merge(sum_co2storage_eur_for_top_10,  left_on='Name', right_on='Name')
combined1

                     Name  Carbon Storage (kg)  Carbon Storage (eur)
0    Platanus x hispanica            1083313.4             174052.12
1  Aesculus hippocastanum             438610.9              70470.24
2        Tilia x europaea             406394.2              65294.01
3               Cupressus             198211.0              31843.40
4        Sophora japonica              80562.6              12944.02
5        Celtis australis              70736.5              11364.33
6           Tilia cordata              65967.6              10598.38
7        Carpinus betulus              62980.1              10119.34
8       Prunus cerasifera              55874.7               8976.99
9          Acer campestre              36849.8               5920.57

In [30]:
# data_for_top_six.to_csv (r'E:\Documents\GitHub\Data-Visualization\data\scatter_plot_data.csv', index = False, header=True)

In [48]:
def make_json(data):
#     print(data)

    def get_nodeval(val, dList):
        for index in range(len(dList)):
            for value in dList[index].values():
                if val == value:
                    return(dList[index]['node'])
        return
    
    def adduniquenode(graph, name):
        if not any(d['name'] == name for d in graph['nodes']):
            graph['nodes'].append({ 'node': len(graph['nodes']), 'name': name })
            
    def adduniquelink(data, graph, node, valueof ):
        if valueof == "Carbon Storage (kg)":
            for index, row in data.iterrows():
                graph['links'].append({"source" : get_nodeval(valueof, graph['nodes']),
                              "target" : get_nodeval(row['Name'], graph['nodes']),
                              "value" : row[valueof]                       
                             })
        else:
            for index, row in data.iterrows():
                graph['links'].append({"source" : get_nodeval(row['Name'], graph['nodes'] ),
                              "target" : get_nodeval(valueof, graph['nodes']),
                              "value" : row[valueof]                       
                             })
            
#         print(graph['nodes'])   

    
    graph = {"nodes" : [], "links" : []}
#     print(graph['nodes'].push())
    keys = data.columns[1:]
    adduniquenode(graph, keys[0])
    adduniquenode(graph, keys[1])
    for i in range(data.shape[0]):
#         graph['nodes'].push()
        adduniquenode(graph, data.loc[i].Name)
#     print(graph['nodes'])

    adduniquelink(data, graph, 0, 'Carbon Storage (kg)')
    adduniquelink(data, graph, 1, 'Carbon Storage (eur)')
#     print(graph['links'])
    
    return graph

In [32]:
# To display complete values of the coulmns 
# with pd.option_context('display.max_colwidth', None, 'display.max_rows', None): display(polydata)

In [49]:
json_string = make_json(combined1)

In [50]:
json_string

{'nodes': [{'node': 0, 'name': 'Carbon Storage (kg)'},
  {'node': 1, 'name': 'Carbon Storage (eur)'},
  {'node': 2, 'name': 'Platanus x hispanica'},
  {'node': 3, 'name': 'Aesculus hippocastanum'},
  {'node': 4, 'name': 'Tilia x europaea'},
  {'node': 5, 'name': 'Cupressus'},
  {'node': 6, 'name': 'Sophora japonica'},
  {'node': 7, 'name': 'Celtis australis'},
  {'node': 8, 'name': 'Tilia cordata'},
  {'node': 9, 'name': 'Carpinus betulus'},
  {'node': 10, 'name': 'Prunus cerasifera'},
  {'node': 11, 'name': 'Acer campestre'}],
 'links': [{'source': 0, 'target': 2, 'value': 1083313.4},
  {'source': 0, 'target': 3, 'value': 438610.9},
  {'source': 0, 'target': 4, 'value': 406394.2},
  {'source': 0, 'target': 5, 'value': 198211.0},
  {'source': 0, 'target': 6, 'value': 80562.6},
  {'source': 0, 'target': 7, 'value': 70736.5},
  {'source': 0, 'target': 8, 'value': 65967.6},
  {'source': 0, 'target': 9, 'value': 62980.1},
  {'source': 0, 'target': 10, 'value': 55874.7},
  {'source': 0, 'target': 11, 'value': 36849.8},
  {'source': 2, 'target': 1, 'value': 174052.12},
  {'source': 3, 'target': 1, 'value': 70470.24},
  {'source': 4, 'target': 1, 'value': 65294.01},
  {'source': 5, 'target': 1, 'value': 31843.4},
  {'source': 6, 'target': 1, 'value': 12944.02},
  {'source': 7, 'target': 1, 'value': 11364.33},
  {'source': 8, 'target': 1, 'value': 10598.38},
  {'source': 9, 'target': 1, 'value': 10119.34},
  {'source': 10, 'target': 1, 'value': 8976.99},
  {'source': 11, 'target': 1, 'value': 5920.57}]}

In [42]:
dList = [{'node':0, 'a': 3}, {'node':1, 'a': 4}, {'node':2, 'a': 5}]
val = 3
for index in range(len(dList)):
    for value in dList[index].values():
        if val == value:
            print(dList[index]['node'])
#         print(dList[index][key])

0

In [ ]:
# data_for_top_six.to_csv (r'E:\Documents\GitHub\Data-Visualization\data\scatter_plot_data.csv', index = False, header=True)

In [45]:
import json

In [51]:
# Directly from dictionary
with open('sankey_carbon_storage_top10.json', 'w') as outfile:
    json.dump(json_string, outfile)